@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* css variables */
/* :root {
  --body-color: #5a3e2b;
  --header-bg: #f4a226;
  --list-bg: #ffebb3;
  --count-color: #76c7ad;
} */

body {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-family: "Quicksand";
  background-color: var(--body-color);
}

::-webkit-scrollbar {
  display: none;
}
h1 {
  text-align: center;
  background-color: var(--header-bg);
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

/* #booking-system {
  display: flex;
} */

#desk-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin-right: 20px;
  margin-top: 20px;
  color: var(--count-color);
}

.desk {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.booked {
  background-color: var(--count-color);
  cursor: not-allowed;
}

#booking-form {
  max-width: 300px;
}

#dashboard {
  margin-top: 20px;
}
